.container {
    max-width: 960px;
    margin: 0 auto;
}

#nav-bar {
    text-align: center;
    background-color: #94c881;
    padding: 5px;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
}

#nav-bar a {
    color: white;
}

p {
    text-align: center;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li a {
    text-decoration: none;
    
}

#big-image, #images {
    text-align: center;
}


@media (max-width:960px) {
    .container {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }
}

@media (max-width:480px) {
    #nav-bar li {
        display: block;
    }
}


@media(max-width: 480px) {
    #nav-bar {
    margin: 0;
    overflow: hidden;
    text-align: center;
}

